.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header' 
    'left right';
}

header{
    grid-area: header;
}

#bg{
    grid-area: 'left';
    background: url('/images/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -10rem;
}

main{
    grid-area: 'right';
    margin-top: -12rem;
    display: flex;
    align-items: center;
}

main .container{
    width: min( 36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 700;
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/*separator line

*/

.separator {
    display: flex;
    align-items: center;
    margin: 4rem;
}

.separator div:nth-child(1),
.separator div:nth-child(3){
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}
.separator div:nth-child(2){
    color: var(--grey-blue);
    font-family: 'Poppins';
    font-weight: 400;
    padding: 0 1.35rem;
}

/*create balls*/
.ball{
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);
    position: fixed;
    clip-path: circle();
    opacity: .1;
}
.ball.top{
    top: -46rem;
    right: -35rem;
    width: 63.3rem;
    height: 63.3rem;
}
.ball.bottom{
    bottom: -15rem;
    right: 5.6rem;
}