body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(126, 126, 126);
    color: rgb(107, 228, 107);
    font-family: Arial, Helvetica, sans-serif;
}