*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, black, #464646);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    padding: 15px;
}

.title{
    font-size: 50px;
}

.botao{
    font-weight: bold;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}

#resultado{
    background-color: #fff;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;

}